.title {
    background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#CACACA));
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #AAA;
    font-size: 14px;
    text-shadow: white 0 1px;
    color: #555;
}

